@defer (on viewport) {

<div class="flex items-center justify-between gap-8 m-4 flex-row-reverse">

    <app-email-list-add-button label="Ajouter une liste" (save)="addList($event)">
        <mat-form-field appearance="fill">
            <mat-label>Nom de la liste</mat-label>
            <input matInput [(ngModel)]="newList" placeholder="Nom de la liste">
        </mat-form-field>
    </app-email-list-add-button>

    @if(mailingLists().length == 0) {
    <mat-card class="flex-1">
        <div class="p-4 text-center">
            <h3>Il n'y a pas de liste de diffusion sur ce centre</h3>
        </div>
    </mat-card>
    }



</div>
<mat-accordion>
    @for(list of mailingLists();track list.id) {
    <mat-expansion-panel [class]="color" (opened)="onpanelOpen(list)">
        <mat-expansion-panel-header>
            <mat-panel-description style="flex:10">
                <app-editable-label [(ngModel)]="list.libelle" matlabel="Modifier nom de la liste"
                    [showIcon]="(list?.id ?? 0)>0" (onValidated)="onsave(list)"></app-editable-label>
            </mat-panel-description>
            @if((list?.id ?? 0)>0) {
            <mat-panel-description style="flex:1">
                <app-delete-confirm (confirm)="delete(list)"
                    [message]="'Voulez-vous vraiment supprimer la liste ' + list.libelle + ' ?'">
                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                </app-delete-confirm>
            </mat-panel-description>
            }
        </mat-expansion-panel-header>
        @if(isPanelOpen(list)) {

        <app-email-list-add-button label="Ajouter un contact" icon="person_add" (save)="onsaveAddMembre(list.id)">
            <div class="w-128">
                <app-autocomplete-chips [options]="searchContactOptions" (selectedItemsChange)="onlistChanged($event)">
                </app-autocomplete-chips>
            </div>
        </app-email-list-add-button>

        }
        <div class="membre">
            <app-email-list-table [mailingList]="list" [readonly]="(list?.id ?? 0)<0"
                (delete)="deleteMembre($event, list)"></app-email-list-table>
        </div>

    </mat-expansion-panel>
    }
</mat-accordion>
}
@placeholder {
<div class="skeleton">&nbsp;</div>
}