@defer (on viewport) {

@if(mailingLists().length == 0) {
<div class="empty">
    <mat-card>
        <p>Vous n'avez pas encore de liste de diffusion sur ce centre</p>
        <button mat-flat-button color="primary">
            <mat-icon>add</mat-icon> Ajouter une liste
        </button>
    </mat-card>
</div>
}


<mat-accordion>
    @for(list of mailingLists();track list.id) {
    <mat-expansion-panel [class]="color" (opened)="onpanelOpen(list)">
        <mat-expansion-panel-header>
            <mat-panel-description style="flex:10">
                <app-editable-label [(ngModel)]="list.libelle" matlabel="Modifier nom de la liste"
                    [showIcon]="(list?.id ?? 0)>0" (onValidated)="onsave(list)"></app-editable-label>
            </mat-panel-description>
            @if((list?.id ?? 0)>0) {
            <mat-panel-description style="flex:1">
                <app-delete-confirm (confirm)="delete(list)"
                    [message]="'Voulez-vous vraiment supprimer la liste ' + list.libelle + ' ?'">
                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                </app-delete-confirm>
            </mat-panel-description>
            }
        </mat-expansion-panel-header>
        @if(isPanelOpen(list)) {

        <div class="add-member-button">
            <button mat-flat-button color="primary" (click)="openFormAddContact(list.id)">
                <mat-icon>person_add</mat-icon> Ajouter Membre
            </button>
        </div>
        @if(isaddingMembre(list)) {

        <div class="add-member" [@toogleView]>
            <app-autocomplete-chips [asyncItems]="searchContacts" [keySelector]="aspectKeySelector"
                label="Rechercher Contact(s)" placeholder="John Doe" [displayWith]="aspectDisplayWith"
                (selectedItemsChange)="onlistChanged($event)">
            </app-autocomplete-chips>
            <div class="actions">
                <div class="validate-button">
                    <button mat-flat-button color="accent" (click)="onsaveAddMembre(list.id)">
                        <mat-icon>check_circle</mat-icon> Valider
                    </button>
                </div>
                <div class="cancel-button">
                    <button mat-raised-button color="warn" (click)="closeFormAddContact()">
                        <mat-icon>cancel</mat-icon> Annuler
                    </button>
                </div>
            </div>
        </div>
        }
        }
        <div class="membre">
            <app-email-list-table [mailingList]="list" [readonly]="(list?.id ?? 0)<0"></app-email-list-table>
        </div>

    </mat-expansion-panel>
    }
</mat-accordion>
}
@placeholder {
<div class="skeleton">&nbsp;</div>
}