@defer (on viewport) {

<mat-accordion>
    @for(list of (mailingLists | async) ?? [];track list.id) {
    <mat-expansion-panel [class]="color" (opened)="onpanelOpen(list)">
        <mat-expansion-panel-header>
            <mat-panel-description style="flex:10">
                <app-editable-label [(ngModel)]="list.libelle" matlabel="Modifier nom de la liste"
                    (onValidated)="onsave(list)"></app-editable-label>
            </mat-panel-description>

            <mat-panel-description style="flex:1">
                <app-delete-confirm (confirm)="delete(list)"
                    [message]="'Voulez-vous vraiment supprimer la liste ' + list.libelle + ' ?'">
                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                </app-delete-confirm>
            </mat-panel-description>

        </mat-expansion-panel-header>
        @if(isPanelOpen(list)) {

        <div class="add-member-button">
            <button mat-flat-button color="primary" (click)="openFormAddContact(list.id)">
                <mat-icon>person_add</mat-icon> Ajouter Membre
            </button>
        </div>
        @if(isaddingMembre(list)) {

        <div class="add-member" [@toogleView]>
            <app-autocomplete-chips [asyncItems]="searchContacts" [keySelector]="aspectKeySelector"
                label="Rechercher Contact(s)" placeholder="John Doe" [displayWith]="aspectDisplayWith"
                (selectedItemsChange)="onlistChanged($event)">
            </app-autocomplete-chips>
            <div class="actions">
                <div class="validate-button">
                    <button mat-flat-button color="accent" (click)="onsaveAddMembre(list.id)">
                        <mat-icon>check_circle</mat-icon> Valider
                    </button>
                </div>
                <div class="cancel-button">
                    <button mat-raised-button color="warn" (click)="closeFormAddContact()">
                        <mat-icon>cancel</mat-icon> Annuler
                    </button>
                </div>
            </div>
        </div>
        }
        }
        <div class="membre">
            <table mat-table [dataSource]="getdataSource(list.id)">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef> Nom </th>
                    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                </ng-container>
                <ng-container matColumnDef="prenom">
                    <th mat-header-cell *matHeaderCellDef> Prenom </th>
                    <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Mail </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> supprimer </th>
                    <td mat-cell *matCellDef="let element">
                        <app-delete-confirm (confirm)="deleteMembre(element.id,list ?? 0)"
                            [message]="'Voulez-vous vraiment supprimer ' + element.nom + ' ' + element.prenom + ' ?'">
                            <button mat-icon-button><mat-icon>delete</mat-icon></button>
                        </app-delete-confirm>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of membre">
            </mat-paginator>
        </div>

    </mat-expansion-panel>
    }
</mat-accordion>
}
@placeholder {
<div class="skeleton">&nbsp;</div>
}