@import './../../../../theme.scss';

:host {
    --mat-expansion-header-collapsed-state-height: 70px;


    mat-expansion-panel {
        margin-bottom: 10px;
    }

    .membre {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }


}