<mat-card>
        <h3>{{titre}}</h3>
        <mat-list>
            @if(conferences | async; as confs) {
            @for (conf of confs; track $index) {
            @if(conf.pending) {
            <mat-list-item>
                <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
            </mat-list-item>
            }
            @else {
            <mat-list-item> 
                <div class="contents">
                    <div class="type" [style.backgroundColor]="conf.value?.type?.color">
                        <div>
                            {{conf.value?.type?.nom}}
                        </div>
                        <hr>
                        <div>
                            {{conf.value?.centre?.nom}}
                        </div>
                    </div>
                    <div class="date">{{conf.value?.datedebut | date:'dd' }}-{{conf.value?.datefin | date:'dd MMMM' }}</div>
                </div>
            </mat-list-item>
            }
            }
            }
        </mat-list>
</mat-card>