<ng-scrollbar class="position-relative" style="height: calc(100vh - 80px)">
    <div class="p-24">

        @if (currentEleve(); as eleve) {
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center  gap-8">
                <mat-icon class="me-2 text-primary">person</mat-icon>
                <h3 class="mb-0 text-primary">{{ eleve.prenom }} {{ eleve.nom }}</h3>
            </div>
            <button mat-flat-button class="bg-light-secondary text-secondary">
                <mat-icon>edit</mat-icon>
                <span class="ms-2">Modifier</span>
            </button>
        </div>
        <div>
            <app-statut-membre [membre]="currentEleve()" [showLabel]="true"></app-statut-membre>
        </div>

        <h4 class="text-secondary d-flex align-items-center justify-content-center gap-8 m-t-12"><i-tabler
                name="binary-tree-2" /> Généalogie</h4>
        <mat-divider></mat-divider>
        <div class="m-b-20">

            <p class="d-flex align-items-center justify-content-between"><label>Parents:</label>
                @if(loading()) {
                <mat-spinner diameter="24"></mat-spinner>
                }
            </p>
            @if(!loading()) {

            @for(parent of parents();track parent.id) {
            <a (click)="openEleveDetail(parent)">
                <p>{{ parent.nom + ' ' + parent.prenom }}</p>
            </a>
            }}
            <p class="d-flex align-items-center justify-content-between"><label>Enfants:</label>
                @if(loading()) {
                <mat-spinner diameter="24"></mat-spinner>
                }
            </p>
            @if(!loading()) {
            @for(child of enfants();track child.id) {
            <a (click)="openEleveDetail(child)">
                <p>{{ child.nom + ' ' + child.prenom }}</p>
            </a>

            } }
        </div>


        <h4 class="text-secondary d-flex align-items-center justify-content-center gap-8"><i-tabler
                name="user-circle" /> Informations personnelles</h4>
        <mat-divider></mat-divider>
        <p><label>Nom:</label> {{ eleve.nom }}</p>
        <p><label>Prénom:</label> {{ eleve.prenom }}</p>
        <p><label>Age:</label> 0</p>
        <p><label>Email:</label> {{ eleve.email }}</p>
        @if(eleve.telephone) {
        <p><label>Téléphone:</label> {{ eleve.telephone }}</p>
        }
        <p><label>Portable:</label> {{ eleve.portable }}</p>

        <h4 class="text-secondary d-flex align-items-center justify-content-center gap-8"><i-tabler name="map-pin" />
            Adresse</h4>
        <mat-divider></mat-divider>

        <p><label>Adresse:</label> {{ eleve.adresse }}</p>
        <p><label>Ville:</label> {{ eleve.ville }}</p>
        <p><label>Pays:</label> {{ eleve.pays }}</p>
        <p><label>Code postal:</label> {{ eleve.codePostal }}</p>

        <h4 class="text-secondary d-flex align-items-center justify-content-center gap-8"><i-tabler name="atom" /> Vie
            de l'élève</h4>
        <mat-divider></mat-divider>
        <p><label>Aspect:</label> {{ eleve.typeMembre.libelle }}</p>
        <p><label>Centre:</label> {{ eleve.centre.libelle }}</p>
        <p class="d-flex align-items-center justify-content-start">
            <label>Statut:</label>
            <app-statut-membre [membre]="currentEleve()" [showLabel]="true"></app-statut-membre>
        </p>

        }
    </div>
</ng-scrollbar>