<h2>inscriptions prochaines conférences</h2>
<mat-card>
    <mat-card-content>
        <mat-chip-listbox>
            <mat-chip-option *ngFor="let item of centres | async" (click)="selectCentre(item?.value)">
                <ngx-skeleton-loader appearance="line" *ngIf="item.pending"
                    [theme]="{height: '5px' ,width:'50px', 'vertical-align':'bottom' }"></ngx-skeleton-loader>
                <span *ngIf="!item.pending">
                    {{item.value?.nom}}
                </span>
            </mat-chip-option>
        </mat-chip-listbox>

        <mat-chip-listbox>
            <mat-chip-option *ngFor="let item of types | async" (click)="selectType(item?.value)">
                <ngx-skeleton-loader appearance="line" *ngIf="item.pending"
                    [theme]="{height: '5px' ,width:'100px', 'vertical-align':'bottom' }"></ngx-skeleton-loader>
                <span *ngIf="!item.pending">
                    {{item.value?.nom}}
                </span></mat-chip-option>
        </mat-chip-listbox>
    </mat-card-content>
</mat-card>
<mat-accordion>
    <cdk-virtual-scroll-viewport itemSize="50" class="listallconf">
        <conference-expansion-panel class="listallconf-expansion-panel"
            *ngFor="let item of (filteredConferences | async)" [SklValue]="item" hideToggle [Olits]="Olits"
            [OheuresArrivee]="OheuresArrivee" [OheuresDepart]="OheuresDepart"
            [OparticipationTaches]="OparticipationTaches" (setInscription)="setInscriptionEvent($event)">
        </conference-expansion-panel>
    </cdk-virtual-scroll-viewport>
</mat-accordion>