<span class="title">{{titre}}</span>
<span class="title">{{currentTitle(stepper)}}</span>

<div class="slider">
    @if(stepper.selectedIndex === 0) {
    <img src="assets/img/famille.png" alt="inscription" class="inscription" [@fadeAnimation]="stepper.selectedIndex">
    }
    @if(stepper.selectedIndex === 1) {
    <img src="assets/img/arrivee.png" alt="inscription" class="inscription" [@fadeAnimation]="stepper.selectedIndex">
    }
    @if(stepper.selectedIndex === 2) {
    <img src="assets/img/depart.png" alt="inscription" class="inscription" [@fadeAnimation]="stepper.selectedIndex">
    }
    @if(stepper.selectedIndex === 3) {
    <img src="assets/img/vaisselle.png" alt="inscription" class="inscription" [@fadeAnimation]="stepper.selectedIndex">
    }
    @if(stepper.selectedIndex === 4) {
    <img src="assets/img/lit.png" alt="inscription" class="inscription" [@fadeAnimation]="stepper.selectedIndex">
    }
    @if(stepper.selectedIndex === 5) {
    <img src="assets/img/validation.png" alt="inscription" class="inscription" [@fadeAnimation]="stepper.selectedIndex">
    }
</div>


<mat-stepper linear #stepper>
    <mat-step [stepControl]="familyFormGroup" state="family_restroom">
        <form [formGroup]="familyFormGroup">
            <div>
                <mat-radio-group class="radiovertical" formControlName="participeCtrl"
                    [(ngModel)]="selectedParticipation">
                    @for (ck of participationValues;track ck) {
                    <mat-radio-button [value]="ck">{{ck.displayValue}}</mat-radio-button>
                    }

                </mat-radio-group>
                @if(this.avecEnfant) {
                @for(enfant of (mesEnfants$ | async);track enfant) {
                <mat-checkbox [checked]="false" value="{{enfant}}" formControlName="{{enfant.id}}">
                    {{enfant.prenom}}
                </mat-checkbox>
                }
                @if(aucunEnfantRepertorie$ | async) {
                <h5>Aucun enfant trouvé</h5>
                }

                }
            </div>
            <div>
                <button mat-button mat-flat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="AriveeFormGroup" state="update">
        <form [formGroup]="AriveeFormGroup">
            <h5>J'arrive : {{selectedArrivee?.displayValue}} {{selectedArriveeHeure?.displayValue}}</h5>
            <div>
                <mat-radio-group formControlName="ArriveCtrl" [(ngModel)]="selectedArrivee">
                    @for(ck of arriveeValues;track ck) {
                    <mat-radio-button [value]="ck">{{ck.displayValue}}</mat-radio-button>
                    }
                </mat-radio-group>
            </div>
            <div>
                <mat-radio-group formControlName="ArriveHeureCtrl" [(ngModel)]="selectedArriveeHeure">
                    @for(ck of arriveeHeureValues;track ck) {
                    <mat-radio-button [value]="ck">{{ck.displayValue}}</mat-radio-button>
                    }
                </mat-radio-group>
            </div>
            <div><button mat-button matStepperPrevious>Retour</button>
                <button mat-button mat-flat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="DepartFormGroup" state="history_toggle_off">
        <form [formGroup]="DepartFormGroup">
            <h5>Et je repars : {{selectedDepart?.displayValue}} {{selectedDepartHeure?.displayValue}}</h5>
            <div>
                <mat-radio-group formControlName="DepartCtrl" [(ngModel)]="selectedDepart">
                    @for(ck of departValues;track ck) {
                    <mat-radio-button [value]="ck">{{ck.displayValue}}</mat-radio-button>
                    }
                </mat-radio-group>
            </div>
            <div>
                <mat-radio-group formControlName="DepartHeureCtrl" [(ngModel)]="selectedDepartHeure">
                    @for(ck of departHeureValues;track ck) {
                    <mat-radio-button [value]="ck">{{ck.displayValue}}</mat-radio-button>
                    }
                </mat-radio-group>
            </div>
            <div><button mat-button matStepperPrevious>Retour</button>
                <button mat-button mat-flat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="tacheFormGroup" state="cleaning_services">
        <form [formGroup]="tacheFormGroup">
            <div>
                <mat-radio-group class="radiovertical" formControlName="tachesCtrl" [(ngModel)]="selectedTaches">
                    @for(ck of tachesValues;track ck) {
                    <mat-radio-button [value]="ck">{{ck.displayValue}}</mat-radio-button>
                    }
                </mat-radio-group>
            </div>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <button mat-button mat-flat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="LitFormGroup" state="bed">
        <form [formGroup]="LitFormGroup">
            <div>
                <mat-radio-group class="radiovertical" formControlName="dortoirCtrl" [(ngModel)]="selectedDortoir">
                    @for(ck of dortoirValues;track ck) {
                    <mat-radio-button [value]="ck">{{ck.displayValue}}</mat-radio-button>
                    }
                </mat-radio-group>
            </div>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <button mat-button mat-flat-button matStepperNext>Suivant</button>
            </div>
        </form>
        <div>
        </div>
    </mat-step>
    <mat-step state="description">
        <div class="summary">
            @for(sum of summary;track sum) {
            <div>{{sum}}</div>
            }
        </div>
        <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button mat-flat-button matStepperNext (click)="save()">Confirmer</button>
        </div>
    </mat-step>


    <ng-template matStepperIcon="family_restroom">
        <mat-icon>family_restroom</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="update">
        <mat-icon>update</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="history_toggle_off">
        <mat-icon>history_toggle_off</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="cleaning_services">
        <mat-icon>cleaning_services</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="bed">
        <mat-icon>bed</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="description">
        <mat-icon>description</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
        <mat-icon class="checked">check</mat-icon>
    </ng-template>
</mat-stepper>