@import './../../../theme.scss';

:host {
    --mdc-chip-outline-color: transparent;

    .content {
        padding-top: 20px;

        mat-form-field {
            width: 100%;
        }

        --mdc-chip-label-text-color: white;
        --mdc-chip-with-trailing-icon-trailing-icon-color : white;

        mat-chip-row {
            background-color: $secondary;
            border: none;
        }

    }
}