<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-toolbar>
      <img src="assets/img/logo.svg">
      <div>
        Menu
      </div>
    </mat-toolbar>

    <app-menu-tree [menus]="menus"></app-menu-tree>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <div class="title">
        @if(SelectedMenu$ | async; as _menu) {
        <mat-icon>{{_menu?.prefixIcon}}</mat-icon>
        <span>{{_menu?.title ?? _menu.label}}</span>
        <mat-icon>{{_menu?.suffixIcon}}</mat-icon>
        }
      </div>
    </mat-toolbar>
    @if(tabsEnable | async) {      
      <div [@expand]="(tabsEnable | async )">


        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          @for (centre of centres|async ;track centre) { 
            <a mat-tab-link
              (click)="selectedTabs = centre"
              [active]="selectedTabs === centre"> {{centre.libelle}}</a>
          }        
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

        
      </div>
      }
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-content></ng-content>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>