
@for (menu of menus | async; track menu) {
    <mat-accordion (click)="this.onSelectMenu(menu)">
        <mat-expansion-panel [hideToggle]="!hasChildren(menu)" [disabled]="!hasChildren(menu)"
        class="menu-mat-expansion-panel">
        <mat-expansion-panel-header #link="routerLinkActive" 
        [routerLink]="menu.path" routerLinkActive
        [routerLinkActiveOptions]="{exact: true}"
        [ngClass]="{ 'isActive': link.isActive }">
        <mat-panel-title>
            <mat-icon class="icon" color="accent">{{menu.icon}}</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            <span>{{menu.label}}</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    @if (hasChildren(menu)) {
        <app-menu-tree [menus]="ofSousMenus(menu)"></app-menu-tree>
    }
</mat-expansion-panel>
</mat-accordion>
}