@if(this.isEditable) {
<h2>Mes inscriptions</h2>
}
@if(this.isInscription) {
<h2>Les prochaines Conférences</h2>
<mat-card>
    <mat-card-content>
        <mat-chip-listbox>
            @if(this.centres | async; as centresloop) {
            @for(item of centresloop;track item) {
            <mat-chip-option (click)="selectCentre(item?.value)">
                @if(!item.pending) {
                <span>{{item.value?.nom}}</span>
                }@else {
                <ngx-skeleton-loader appearance="line"
                    [theme]="{height: '5px' ,width:'50px', 'vertical-align':'bottom' }"></ngx-skeleton-loader>
                }
            </mat-chip-option>
            }
            }

        </mat-chip-listbox>

        <mat-chip-listbox>
            @if(this.types | async; as typesloop) {
            @for(item of typesloop;track item) {
            <mat-chip-option (click)="selectType(item?.value)">

                @if(!item.pending) {
                <span>{{item.value?.nom}}</span>
                }@else {
                <ngx-skeleton-loader appearance="line"
                    [theme]="{height: '5px' ,width:'100px', 'vertical-align':'bottom' }"></ngx-skeleton-loader>
                }
            </mat-chip-option>
            }
            }

        </mat-chip-listbox>
    </mat-card-content>
</mat-card>
}
<app-conferences-list [conferences]="this.items">
</app-conferences-list>