$intranetrco-purple: (
    50 : #eae7e9,
    100 : #c9c3c9,
    200 : #a69ba5,
    300 : #827281,
    400 : #675466,
    500 : #4c364b,
    600 : #453044,
    700 : #3c293b,
    800 : #332233,
    900 : #241623,
    A100 : #ff69ff,
    A200 : #ff36ff,
    A400 : #ff03ff,
    A700 : #e800e8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$intranetrco-gold: (
    50 : #f9f4eb,
    100 : #efe4ce,
    200 : #e5d2ae,
    300 : #dac08d,
    400 : #d2b374,
    500 : #caa55c,
    600 : #c59d54,
    700 : #bd934a,
    800 : #b78a41,
    900 : #ab7930,
    A100 : #fff9f1,
    A200 : #ffe3be,
    A400 : #ffcd8b,
    A700 : #ffc371,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$intranetrco-cyan: (
    50 : #f1f9ff,
    100 : #ddf1fe,
    200 : #c7e8fe,
    300 : #b0dffd,
    400 : #9fd8fc,
    500 : #8ed1fc,
    600 : #86ccfc,
    700 : #7bc6fb,
    800 : #71c0fb,
    900 : #5fb5fa,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fdfeff,
    A700 : #e4f3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);