<div class="list">

    <app-button-loading color="primary" [observe]="adminuser" icon="security">
        Se connecter : avec Admin User
    </app-button-loading>


    <app-button-loading color="primary" [observe]="usermanager" icon="shield_person">
        Se connecter : avec User Manager

    </app-button-loading>

    <app-button-loading color="primary" [observe]="standarUser" icon="person">
        Se connecter : avec Standard User
    </app-button-loading>



</div>

<div class="list">
    <app-button-loading color="primary" [observe]="importusers" icon="backup">
        Importer les Utilisateurs
    </app-button-loading>
    <app-button-loading color="primary" [observe]="generateactivities" icon="backup">
        Génerer des activités
    </app-button-loading>

</div>