@import './../../../theme.scss';

:host {
    mat-expansion-panel {
        margin: 5px;

        .status {
            font-size: 0.8em;
        }

        .actif {
            color: $color-success;
        }
    }

    .field {
        .label {
            font-weight: bold;
            padding-right: 5px;
            color: $primary;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 10px;
    }

    .skeleton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: whitesmoke;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        animation: pulse-animation 2s infinite;
    }

    .link {
        display: flex;
        align-items: center;

        .parents,
        .enfants {
            flex: 1;
        }
        .parents
         {
            flex: 1;
            .mat-expansion-panel,
            .mat-expansion-panel-header.mat-expanded,
            .mat-expansion-panel-header.mat-expanded:hover {
                background: lighten($primary, 50%);
            }
        }
        
        .enfants {
            flex: 1;
            .mat-expansion-panel,
            .mat-expansion-panel-header.mat-expanded,
            .mat-expansion-panel-header.mat-expanded:hover {
                background: lighten($secondary, 15%);
            }
        }
    }
}

@keyframes pulse-animation {
    0% {
        background: whitesmoke;
    }

    100% {
        background: white;
    }
}