@defer (on viewport) {

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-description style="flex:1"> {{eleve.centre?.code}} </mat-panel-description>
    <mat-panel-description style="flex:10"> {{eleve.nom}} {{eleve.prenom}} </mat-panel-description>
    <mat-panel-description style="flex:10"> {{eleve.email}} </mat-panel-description>
    <mat-panel-description style="flex:10"> {{eleve.typeMembre.description}} </mat-panel-description>
    <mat-panel-description style="flex:5" class="status actif"> ACTIF </mat-panel-description>

  </mat-expansion-panel-header>

  <div class="field">
    <span class="label">telephone :</span>
    <span class="">{{eleve.telephone ?? "n/a"}}</span>
  </div>
  <div class="field">
    <span class="label">adresse :</span>
    <span class="">{{eleve.adresse ?? "n/a"}}</span>
  </div>
  <div class="field">
    <span class="label">Ville :</span>
    <span class="">{{eleve.ville ?? "n/a"}}</span>
  </div>
  <div class="field">
    <span class="label">Code Postal :</span>
    <span class="">{{eleve.codePostal ?? "n/a"}}</span>
  </div>
  <div class="field">
    <span class="label">Pays :</span>
    <span class="">{{eleve.pays ?? "n/a"}}</span>
  </div>

  <div class="actions">
    <button mat-raised-button><mat-icon>person_off</mat-icon>Rendre Inactif</button>
    <button mat-flat-button><mat-icon>edit</mat-icon>Editer</button>
  </div>
</mat-expansion-panel>
}
@placeholder {
<div class="skeleton">&nbsp;</div>
}