<mat-grid-list cols="100" rowHeight="35px">
    @for(conference of mesconferences | async; track conference) {
        <mat-grid-tile [colspan]="10" [rowspan]="1">
            <div class="circleAvatar">
                {{conference.centre?.code}}
            </div>
        </mat-grid-tile>
            <mat-grid-tile [colspan]="50" [rowspan]="1">
                {{conference.libelle }}
            </mat-grid-tile>
        <mat-grid-tile [colspan]="20" [rowspan]="1">
            {{conference.dateDebut| date:'dd'}}-{{conference.dateFin| date:'dd MMM'}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="20" [rowspan]="1">
            @if(conference.isRegistered) {
            <div class="registred">
                <mat-icon>favorite</mat-icon>
                enregistré
            </div>
            }@else {
            <div>
                <button mat-button class="inscription" (click)="subscribe(conference)">
                    <span>
                        je m'inscris
                    </span>
                    <mat-icon>touch_app</mat-icon>
                </button>
            </div>
            }
        </mat-grid-tile>
    }
</mat-grid-list>
    <div class="listConferences">
    </div>